<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /esps-be/

    # Kalau request OPTIONS, tetap teruskan ke index.php
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ index.php [L]

    # Route biasa CodeIgniter
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
